{{- define "feathericon" -}}
{{- $icon := .Icon -}}
{{- $useCDN := .UseCDN | default false -}}

{{- if hasPrefix $icon "simple:" -}}
  <i class="si si-{{ substr $icon 7 }}"></i>
{{- else -}}
  {{- if $useCDN }}
    <svg class="feather">
      <use xlink:href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather-sprite.svg#{{ $icon }}"></use>
    </svg>
  {{- else }}
    <svg class="feather">
      <use xlink:href="{{ "svg/feather-sprite.svg#" | absURL }}{{ $icon }}"></use>
    </svg>
  {{- end -}}
{{- end -}}
{{- end -}}
